<div class="container">
  <div class="row">
    <div class="span12 text-center">
      <h1>Wilkommen auf Ruhrspora</h1>
      <h3>dem Diaspora-Pod aus dem Ruhrgebiet</h3>
    </div>
  </div>

  <div align="center">
    <img src="/Ruhrspora_Circle.png" 
              alt="Ruhrspora* Logo" width="30%" height="30%" />
  </div>

  <div class="row">	
    <div class="span12 text-center">
      <p>
        Dies ist ein Pod für Leute aus dem Ruhrgebiet, Leuten die sich dem Ruhrgebiet verbunden fühlen und natürlich auch allen anderen. 
        Wenn Du mehr über Diaspora in Erfahrungbringen möchtest, 
        besuche doch mal: <a href="https://diasporafoundation.org/" target="_blank">diasporafoundation.org </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span12 text-center">
      <h4 >
	  <a href="users/sign_up">Hier registrieren</a> oder <a href="users/sign_in">Hier anmelden</a>
      </h4>
    </div>
  </div>
</div>


